# Copy this file to .env and fill in your MongoDB connection string.
# Do NOT commit your real .env to version control.

MONGO_URI="mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/?retryWrites=true&w=majority"
MONGO_DB_NAME=rice
MONGO_COLLECTION=leaderboard
